.circle {
  border-radius: 50%;
  border: 1px solid $white;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    color: $white;
    background: #1c1c1c;
    padding: 25px;
  }
}

.circle-holder {
  display: flex;
  padding: 160px 0;
  background: #1c1c1c;
  justify-content: center;

  .circle-1 {
    margin-right: -100px;
    text-align: left;
    justify-content: flex-start;

    &::before {
      content: '01.';
      left: 25px;
      top: 25px;
      padding: 20px;
    }

    h4 {
      margin-left: 25px;
    }
  }

  .circle-2 {
    text-align: center;

    &::before {
      content: '02.';
      left: 50%;
      transform: translateX(-50%);
      top: -35px;
    }
  }

  .circle-3 {
    margin-left: -100px;
    text-align: right;
    justify-content: flex-end;

    &::before {
      content: '03.';
      left: auto;
      right: 25px;
      top: 25px;
      padding: 20px;
    }

    h4 {
      margin-right: 25px;
    }
  }

  .circle h4 {
    max-width: 84px;
    line-height: 1;
  }
}
