// -----------------------------------------------------------------------------
// This file contains all styles related to the hero module.
// -----------------------------------------------------------------------------

.hero {
  position: relative;
  height: 80vh;

  .wrapper-full,
  .holder {
    height: 100%;
  }

  .hero-heading {
    @include vertical-align;
  }
}