// -----------------------------------------------------------------------------
// This file contains all styles related to the footer.
// -----------------------------------------------------------------------------

.main-footer {
  height: 100vh;

  .wrapper-full {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}

.footer-top {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    margin-bottom: 50px;
  }

  a {
    margin-right: 20px;
  }

  .clients-time {
    justify-self: flex-end;
    align-self: flex-end;
  }
}

.footer-bottom,
.social-links {
  display: flex;
  flex-direction: row;
}

.footer-bottom {
  margin-top: auto;
}

.social-links li a,
.footer-email {
  &::after {
    width: 0;
  }
}

.social-links {
  margin-left: auto;
  margin-right: 115px;

  li {
    margin-right: 50px;

      &:last-of-type {
        margin-right: 0;
      }

    }

  }


/* contact footer */
.footer-contact {

  .footer-top {

    .social-connect-holder {
      display: flex;
      padding: 70px 0;
      position: relative;
      justify-content: center;

      h3 {
        position: absolute;
        left: 0;
      }

      .social-connect {
        font-size: em(78);
        line-height: 80px;
      }
    }

    .office-time {
      display: flex;
      justify-content: space-between;

      .office-time-title {
        margin-top: 36px;
      }

      .office-time-display {
        font-size: em(285);
        margin-top: auto;
      }
    }

    a {
      margin-right: 0;
    }
  }
}

