// -----------------------------------------------------------------------------
// This file contains all styles related to the header.
// -----------------------------------------------------------------------------

.main-header {
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  transition: all ease .3s;

  a {
    &::after {
      width: 0;
      left: auto;
      right: 0;
    }

    &:hover {
      &::after {
        width: 100%;
        left: 0;
        right: auto;
      }
    }
  }
}

.nav-links-logo,
.menu {
  display: flex;
  flex-direction: row;
}

.nav-links-logo,
.menu {
  justify-content: flex-end;
}

.menu {
  li {
    margin-right: 35px;
  
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.logo img {
  margin-left: auto;
}

/* scroll effects */

.scroll-up {
  transform: none;
}

.scroll-down {
  transform: translate3d(0, -100%, 0);
}