// -----------------------------------------------------------------------------
// This file contains all styles related to the header.
// -----------------------------------------------------------------------------

.main-header {
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  transition: all ease .3s;
}

.site-info,
.nav-links-logo,
.menu {
  display: flex;
  flex-direction: row;
}

.site-info {
  justify-content: space-between;
}

.nav-links-logo,
.menu {
  justify-content: flex-end;
}

.menu {
  li {
    margin-right: 35px;
  
    &:last-of-type {
      margin-right: 0;
    }
    
    a {
      &::after {
        display: none;
      }

      &:hover {
        &::after {
          display: block;
        }
      }
    }
  }
}

.logo img {
  margin-left: auto;
}

/* scroll effects */

.scroll-up {
  transform: none;
}

.scroll-down {
  transform: translate3d(0, -100%, 0);
}