// -----------------------------------------------------------------------------
// This file contains all styles related to the contact page.
// -----------------------------------------------------------------------------

.contact-address,
.contact-directors {
  padding: 64px 0;

  a {
    display: inline-block;
  }
}

.contact-location {
  h2 {
    font-size: em(208);
    font-weight: bold;
  }
}