// -----------------------------------------------------------------------------
// This file contains all styles related to the disciplines page.
// -----------------------------------------------------------------------------
.circle-strategy {
  .img-label {
    margin-bottom: 100px;
  }
}

.brand-strategy {
  margin-bottom: 180px;

  .strategy-label,
  .strategy-description {
    margin-bottom: 42px;
  }
}

.circle-process {

  .circle-holder {
    padding: 250px 0;

    .circle {
      margin-right: 30px;
      max-width: 260px;
      height: 260px;

      &:last-of-type {
        margin-right: 0;
      }

      &::before {
        top: 50%;
        transform: translateY(-50%);
        left: -2px;
        padding: 25px 3px;
      }

      h4 {
        max-width: initial;
      }
    }
  }
}

.problem-solving {
  padding-top: 22px;

  .questions {
    margin-top: 80px;

    li {
      margin-bottom: 120px;

      h1 {
        margin-bottom: 36px;
      }

      a {
        font-size: 22px;
        text-transform: capitalize;
      }
    }
  }
}

.pricing {
  padding: 20px 0 120px;

  .price {
    font-size: em(180);
  }
}

.selected-clients {

  .sc-title {
    margin-bottom: 32px;
  }

  .client-img {
    margin-bottom: 24px;
  }
}