// -----------------------------------------------------------------------------
// This file contains all styles related to the home page.
// -----------------------------------------------------------------------------

.reel-info {
	margin-bottom: 250px
}

.video-holder {
	position: relative;
}

.video-cta {
	@include centerer;
	z-index: 1;
	text-decoration: underline;
}

.work-title {
	margin-bottom: 200px;
}

.work-example {
	margin-bottom: 160px;
}

.work-example img,
.work-example-full img {
	width: 100%;
}

.work-info {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-top: 15px;
}

.work-links {
	display: flex;
	margin-top: 60px;

	li {
		margin-right: 35px;
	}
}
