// -----------------------------------------------------------------------------
// This file contains all styles related to the projects page.
// -----------------------------------------------------------------------------

.projects-showcase {

  .project-holder {
    margin-bottom: 30px;

    img {
      margin-bottom: 14px;
    }

    .project-info {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }
}

.project-philosophy {
  padding: 200px 0;

  h2 {
    margin-bottom: 70px;
  }
}